
body{
	margin:0;
	font-family: "Stalemate","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
#topbar{
	background-color:skyblue;
	width:100%;
	height:40px;
    border-bottom: 1px solid black;
    
    
}

#logo{
    padding: 10px 0 0 10px;
    font-size: 120%;
    font-weight: bold;
    float: left;
}
#buttonDiv{
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    
}
        #RunButton{
        font-size: 110%;
        
        }
        #clearButton{
            font-size:110%;
        }
        #toggles{
        margin:0 auto;
            width:25%;
            list-style: none;
            border: 1px solid grey;
            border-radius: 3px;
            height:27px;
            padding:0;
            position: relative;
            top: 5px;
        
        }
        #toggles li{
            float:left;
            border-right: 1px solid grey;
            padding:5px 7px;
            
        }
        .clear{
            clear:both;
        }
        .codeContainer{
            
            width:50%;
            float:left;
            height:100%;
            position: relative;
            
        
        }
        .codeContainer textarea{
        
            width: 100%;
            height: 100%;
            border:none;
            border-right: 1px solid grey;
            box-sizing: border-box;
            font-family: monotype;
            font-size:90%;
            padding:5px;
        }
        .codeLabel
        {
            position: absolute;
            right:10px;
            top:10px;
        }
        
        #CSSContainer, #JSContainer,#CSSCDNContainer{
            display:none;
        }
        iframe{
            height:100%;
            position: relative;
            left:10px;
            border:none;
        }
        .selected{
            background-color: cornflowerblue;
        }
        